[Desktop Entry]
Type=Application
Name=Storm
Comment=Screensaver effect: storm
Exec=env XCURSOR_PATH=/nonexistent XCURSOR_THEME=none xterm -fullscreen -bg black -fg white -ms black -xrm "XTerm*pointerColorBackground: black" -xrm "XTerm*pointerMode: 2" -e /usr/libexec/local76/screensavers/storm
Icon=local76-storm
Terminal=false
Categories=Screensaver;
